@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    max-width: 1400px;
    margin: 0 auto;
}

header a {
    color: inherit;
    text-decoration: none;
}
/****** NAVBAR *******/
nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    border: 1px solid #ff000000;
    margin-top: -0.8rem;
}

nav a {
    padding: 2rem 2rem;
    margin: .5rem 0rem;
    border: 3px solid transparent;
}

nav a:hover {
    border-top: 3px solid #0065fc;
}

#logo {
    border: 1px solid rgba(0, 0, 255, 0);
    margin-right: auto;
    padding: 0em 2em;

}

#signuptop {
    font-weight: bold;
    color: #0065fc;
}

#subnav {
    display: flex;
    border: 3px solid #fc000000;
}

#subnav a:hover {
    color: #0065fc;
}

@media (max-width: 800px) {
    nav {
        margin-top: -.55rem;
    }
    #subnav {
        order: 1;
        flex-basis: 100%;
    }
    #subnav a {
        flex-basis: 50%;
        text-align: center;
        border-bottom: 3px solid rgb(230, 230, 230);
    }

    #subnav a:hover {
        border-bottom: 3px solid #0065fc;
        border-top: 3px solid transparent;
    }
}

/********** BODY ********/

.wrapper {
    padding: 0 2rem;
}

/********** Searchform ********/

.searchform {
    display: flex;
}

.searchform i {
    padding: 1rem;
    background-color: rgb(235, 235, 235);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

input {
    border: 1px solid rgb(235, 235, 235);
    padding-right: 2rem;
}

.searchform button {
    width: 115px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: .9rem;
    border-radius: 0rem 1rem 1rem 0rem;
    background-color: #0065fc;
    border: 0px solid transparent;
    cursor: pointer;
    transition: transform 50ms;
}
.fa-solid.fa-magnifying-glass {
    display: none;
}

.searchform button:hover {
    transform: scale(1.03);
}
.searchform input::placeholder {
    color: rgb(122, 122, 122);
    text-align: center;
    font-weight: bold;
    font-size: .9rem;

}

@media (max-width: 800px) {

    #searchtxt {
        display: none;
    }
    .searchform button {
        min-width: 50px;
        max-width: 50px;
    }
    .fa-solid.fa-magnifying-glass {
        display: inline;
        background: none;
        margin-left: -5px;
    }
}

/********* Filter ************/
#filters {
    display: flex;
    margin-top: 1rem;
}

#btnfilters {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

 #eco {
     display: flex;
     height: 50px;
     border: 2px solid rgb(242,242,242);
     border-radius: 1.5rem;
     padding: 0.8rem 1rem;
     margin: 1rem;
     font-weight: bold;
     transition: transform 50ms;
 }

 #family {
    display: flex;
    height: 50px;
    border: 2px solid rgb(242,242,242);
    border-radius: 1.5rem;
    padding: 0.8rem 1rem;
    margin: 1rem;
    font-weight: bold;
    transition: transform 50ms;
 }

 #roma {
    display: flex;
    height: 50px;
    border: 2px solid rgb(242,242,242);
    border-radius: 1.5rem;
    padding: 0.8rem 1rem;
    margin: 1rem;
    font-weight: bold;
    transition: transform 50ms;
 }

 #animal{
    display: flex;
    min-width: 220px;
    height: 50px;
    border: 2px solid rgb(242,242,242);
    border-radius: 1.5rem;
    padding: 0.8rem 1rem;
    margin: 1rem;
    font-weight: bold;
    transition: transform 50ms;
 }

#filtertitle {
    font-weight: bold;
    font-size: 1.7rem;
}

/******** ICONES FILTERS *********/

.fa-solid.fa-money-bill-wave {
    font-size: 1rem;
    color: #0065fc;
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: rgb(222,235,255);
    padding-top: 1rem;
    margin-top: -.93rem;
    margin-right: .5rem;
    margin-left: -1.2rem;
    border-radius: 100%;
}

.fa-solid.fa-child-reaching {
    font-size: 1rem;
    color: #0065fc;
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: rgb(222,235,255);
    padding-top: 1rem;
    margin-top: -.93rem;
    margin-right: .5rem;
    margin-left: -1.2rem;
    border-radius: 100%;
}

.fa-solid.fa-heart {
    font-size: 1rem;
    color: #0065fc;
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: rgb(222,235,255);
    padding-top: 1rem;
    margin-top: -.93rem;
    margin-right: .5rem;
    margin-left: -1.2rem;
    border-radius: 100%;
}

.fa-solid.fa-dog {
    font-size: 1rem;
    color: #0065fc;
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: rgb(222,235,255);
    padding-top: 1rem;
    margin-top: -.93rem;
    margin-right: .5rem;
    margin-left: -1.2rem;
    border-radius: 100%;
}

/********* HOVER FILTER  **********/

#eco:hover {
    color: #0065fc;
    cursor: default;
    transform: scale(1.03);
}

#family:hover {
    color: #0065fc;
    cursor: default;
    transform: scale(1.03);
}

#roma:hover {
    color: #0065fc;
    cursor: default;
    transform: scale(1.03);
}

#animal:hover {
    color: #0065fc;
    cursor: default;
    transform: scale(1.03);
}

/********** INFO TOP **********/

#infotop p {
    border: 1px solid rgba(255, 0, 0, 0);
    margin: 0px;
}

.fa-solid.fa-info {
    color: #0065fc;
    margin: .5rem;
    padding: .3rem;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 2px solid rgb(230, 230, 230);
    text-align: center;
}

#infotop p span {
    border: 1px solid rgba(255, 0, 191, 0);
}

/************ SECTION **********/

#hostingmain {
    display: flex;
}

#hostingat {
    border: 2px solid rgba(255, 0, 0, 0.486);
    border-radius: 1rem;
    padding: .8rem;
    flex-basis: 66%;
    min-width: 500px;
    background-color: #F2F2F2;
}

#hebergement {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#hebergement div {
    display: flex;
    border: 1px solid blue;
}

#popular {
    border: 2px solid rgba(0, 255, 42, 0.479);
    border-radius: 1rem;
    padding: .8rem;
    flex-basis: 33%;
    min-width: 300px;
    margin-left: 32px;
}

.poplink {
    margin: 5rem;
}
/* Host Card */
.hostlink {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    background-color: white;
    width: 270px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
    padding: .25rem;
    margin: 0rem 1rem 2rem 0rem;
}

.hostlink h4 {
    margin: .25rem .25rem 0rem .5rem;
    font-size: 1rem;

}

.hostlink p {
    margin: .25rem .25rem 0rem .5rem;
    font-size: 1rem;
}

.hostlink img {
    border-radius: 1rem 1rem 0rem 0rem;
    height: 100px;
    object-fit: cover;
}

/* Stars */

.stars {
    display: flex;
    flex-direction: row;
    margin: .25rem;
    margin-bottom: 1rem;
}

.fa-solid.fa-star.blue {
    color: #0065fc;
}

.fa-solid.fa-star.grey {
    color: rgb(196,195,195);
}

@media (max-width: 800px) {
    #hostingmain {
        flex-direction: column-reverse;
    }

    #popular {
        margin-left: 0px;
    }
}























































/*///*
header {
    border: 1px solid red;
    width: auto;
    max-height: 120px;
}

header img {
    width: 120px;
    border: 2px solid blue;
    max-width: 120px;
    min-width: 120px;
    max-height: 65px;
    min-height: 60px;
}

#linkbutton {
    display: flex;
    justify-content: end;
    margin: -75px 0px 50px 450px;
    width: 100px;
    height: 50%;
}

#hostingbutton {
    text-decoration: none;
    font-weight: 600;
    color: black;
    border: 1px solid blue;
}

#activitiesbutton {
    text-decoration: none;
    font-weight: 600;
    color: black;
    border: 1px solid blue;
}

#signupbutton {
    font-weight: 700;
    text-decoration: none;
    color: rgb(0, 60, 255);
    border: 1px solid blue;
}

/****************** HOVER ***************

#hostingbutton:hover {
    border-top: 4px solid rgb(0, 110, 255);
}

#activitiesbutton:hover {
    border-top: 4px solid rgb(0, 110, 255);
}

#signupbutton:hover {
    border-top: 4px solid rgb(0, 110, 255);
}


h2 {
    font-weight: 400;
    font-size: .9em;
}
/**************** MediaQueries **********/
/*
@media (max-width: 630px) {
    header {
        padding-bottom: 5rem;
    }
    #linkbutton {
        width: 600px;
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap-reverse;
        justify-content: space-between;
    }
    
    header img {
        margin-top: 0px;
        margin-bottom: 25px;
        margin-right: 0px;
        padding: 0px;
        width: 120px;
    }

    #activitesbutton {
        padding: 5px;
    }
}